/* .output{
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.personal-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px ;
    border-bottom: 2px solid #81AEBB;
}

.name{
    color: #195C70;
    font-size: 32px;
    font-weight: 700;
}

.job{
    color: #9f9f9f;
    font-size: 12px;
    font-weight: 700;
    margin-top: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
   
}

.contact div{
    display: flex;
    gap: 5px;
}

.contact p{
    font-size: 10px;
}

.section-title{
    color: #7D779D;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}


.section-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.section-info div{
    display: flex;
    gap: 3px;
    font-size: 16;
}

.work-position,.degree{
    font-weight: 700;
    letter-spacing: -0.2px;
}

.date{
    color: #7D779D;
    font-weight: 700;
}

.description{
    font-size: 16px;
} */