form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content: end;
}

input,textarea{
    padding-left: 5px;
}

.section-input{
    font-size: 16px;
    font-weight: 600;
}