#root {
  max-width: 1280px;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 10px;
}

.input-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid black;
}

